.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places h1 {
    height: 30px;
    width: 100%;
    font-size: 30px;
    padding-left: 3%;
}


  
.places article h2 {
    border: 1px solid #FF5A5F;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border-radius: 4px;
    text-align: center;
    font-size: 30;
}